<table class="m_-6914387099381076122m_6332795146391522553m_-2416061597589205636gmail-m_178680969518706192deviceWidth" cellspacing="0" cellpadding="0" border="0" width="620" align="center">
  <tbody>
    <tr>
      <td style="border-bottom: 0px; background: rgb(236,235,241); padding: 10px;" width="100%">  
        <table cellspacing="0" cellpadding="0" border="0" width="100%" align="left">
          <tbody>
            <tr>
              <td><font color="#2f2f2f" face="arial, helvetica, sans-serif"><span style="font-size: 22px; color: black;">Delivery Order&nbsp;{{ doc.name }}</span></font></td>
            </tr>
            <tr>
              <td><font color="#2f2f2f" face="arial, helvetica, sans-serif"><span style="font-size: 20px; color: black;">Dear &nbsp;{{doc.contact_person_name or ""}},</span></font>  </td>
            </tr>
            <tr>
              <td><font color="#2f2f2f" face="arial, helvetica, sans-serif"><span style="font-size: 20px; color: black;">Thank you for your order.</span></font>  </td>
            </tr>

          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td style="padding: 0px 10px;" bgcolor="#ecebf1">  <table class="m_-6914387099381076122m_6332795146391522553m_-2416061597589205636gmail-m_178680969518706192deviceWidth" cellspacing="0" cellpadding="0" border="0" width="100%">
        <tbody>
          <tr>
            <td style="font-family: arial,helvetica,sans-serif; font-size: 12px; color: rgb(47,47,47); vertical-align: top;">                  <table class="m_-6914387099381076122m_6332795146391522553m_-2416061597589205636gmail-m_178680969518706192deviceWidth" cellspacing="0" cellpadding="0" border="0" width="100%" align="left">
              <tbody>
                <tr>
                  <td style="padding: 15px 10px; background: rgb(255,255,255);" bgcolor="#ffffff" valign="top"><table cellspacing="0" cellpadding="0" width="100%">
                    <tbody>


                      <table style="width: 100%">
                      <tr>
                          <td style="width: 37%"> Customer Ref :</td>
                          <td style="width: 63%">{{doc.customer_ref or ""}}</td>
                        </tr>

                        <tr>
                          <td style="width: 40%"">Company Name :</td>
                          <td style="width: 63%"">{{ frappe.db.get_value("Customer", doc.customer_ref,"customer_ref") or ''}}</td>
                          <td></td>
                        </tr>

                        <tr>
                          <td style="width: 37%">Contact Person : </td>
                          <td style="width: 63%">{{doc.contact_person_name or ""}}</td>
                        </tr>

                        <tr>
                          <td style="width: 37%"> Mobile No. :</td>
                          <td style="width: 63%">{{doc.mobile_no or ""}}</td>
                        </tr>

                        <tr>
                          <td style="width: 37%">Email :</td>
                          <td style="width: 63%">{{doc.email or ""}}</td>
                        </tr>

                        <tr>
                          <td style="width: 37%"> Date :</td>
                          <td style="width: 63%">{{ doc.get_formatted("date") }}</td>
                        </tr>

                        <tr>
                          <td style="width: 37%"> Lorry No. : </td>
                          <td style="width: 63%">{{doc.carrier or ""}}</td>
                        </tr>

                        <tr>
                          <td style="width: 37%">Trip :  </td>
                          <td style="width: 63%">{{doc.trip or ""}}</td>
                        </tr>

                        <tr>
                          <td style="width: 37%"> Address : </td>
                          <td style="width: 63%">{{doc.address_line_1 or ""}} &nbsp;
                            {% if doc.address_line_2 %}{{ doc.address_line_2 }}{% endif -%}&nbsp; 
                            {% if doc.address_line_3 %}{{ doc.address_line_3 }}{% endif -%}&nbsp; 
                            {% if doc.pin_code %}{{ doc.pin_code }}{% endif -%}
                          </td>
                        </tr>

                        <tr>
                          <td>Contact :  </td>
                          <td>{{doc.contact_no or ""}} </td>
                        </tr>


                      </table>

                    </tbody>
                  </table>
                </td>
              </tr>

              <tr>
                <td style="padding-bottom: 10px;" width="600">                                  <table cellspacing="0" cellpadding="0" border="0" width="100%">
                  <tbody>
                  </tbody>
                </table>
              </td>

              <tr>
                <td><font color="#2f2f2f" face="arial, helvetica, sans-serif"><span style="font-size: 20px; color: black;">
                  For More information, please 
                  <a href="{{ short_url }}">Click Here</a>

                </span></font>  </td>
              </tr>

            </tr>

          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
</td>
</tr>
</tbody>
</table>


